<h1>Gestion des dates du tournoi</h1>

<hr>

<div class="row">
    <div class="row">
        <div class="col-md-6">
            <fieldset class="form-group">
                <label for="date_start_inscription">Début des inscriptions</label>
                <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Enter email">
                <small class="text-muted">We'll never share your email with anyone else.</small>
            </fieldset>
        </div>

        <div class="col-md-6">
            <fieldset class="form-group">
                <label for="exampleInputEmail1">Email address</label>
                <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Enter email">
                <small class="text-muted">We'll never share your email with anyone else.</small>
            </fieldset>
        </div>
    </div>
</div>