{% extends 'base.html.twig' %}

{% block body %}

    <div class="page-header">
        <h1>News</h1>
    </div>

    <div class="col-md-8">
        <div class="row">
            <h2>Titre de la news</h2>
            <span><i class="fa fa-user"></i> Admin <i class="fa fa-clock-o"></i> 02/02/2002 - 14:32</span>
        </div>
    </div>

{% endblock %}
