{% extends 'base.html.twig' %}

{% block title %}
    {{ parent() }} • Calendrier des matchs
{% endblock %}

{% block breadcrumb %}
    {{ parent() }}
    <li class="active">Calendrier</li>
{% endblock %}

{% block body %}

{% endblock %}
