<div class="col-md-5">
    <div class="card card-block">
        <h4 class="card-title">Informations</h4>
        <p class="card-text">
            <i class="fa fa-futbol-o"></i> Nombre de buts<br>
            <i class="fa fa-square text-warning"></i> Cartes jaunes<br>
            <i class="fa fa-square text-danger"></i> Cartes rouges
        </p>
    </div>
</div>
