{% extends 'base.html.twig' %}

{% block title %}
    {{ parent() }} • Résultat du match entre {{ match.team1.name }} et {{ match.team2.name }}
{% endblock %}

{% block breadcrumb %}
    {{ parent() }}
    <li class="active">Résultat du match</li>
{% endblock %}

{% block body %}
    {% include 'MatchBundle:Match:results.team.html.twig' with {'team' : match.team1} %}

    {% include 'MatchBundle:Match:results.team.html.twig' with {'team' : match.team2} %}
{% endblock %}
